<div class="top-search">
  <div id="search" class="input-group">
    <input
      type="text"
      name="q"
      value=""
      placeholder="{{ 'layout.search_bar.placeholder' | t }}"
      class="form-control input-lg"
    >
    <span class="input-group-btn">
      <button type="button" class="btn btn-default btn-lg"><i class="icon ion-ios-search-strong"></i></button>
    </span>
  </div>
</div>
