{% if customer %}
  {% assign productID = product.id %}

  {% assign isWishlisted = false %}
  {% for tag in customer.tags %}
    {% if tag contains productID %}
      {% assign isWishlisted = true %}
    {% endif %}
  {% endfor %}

  {% form 'customer' %}
    <input type="hidden" name="contact[email]" value="{{ customer.email }}">
    <input type="hidden" name="contact[tags]" value="Wishlist-{{ productID }}">

    {% if isWishlisted %}
      <button class="button btn-wishlist added" type="submit">
        <span>✔ Wishlisted</span>
      </button>
    {% else %}
      <button class="button btn-wishlist" type="submit">
        <span>Add to Wishlist</span>
      </button>
    {% endif %}
  {% endform %}
{% else %}
  <button class="button btn-wishlist" onclick="location.href='/account/login'">
    <span>Login to Wishlist</span>
  </button>
{% endif %}
