{% if customer %}
  {% assign productID = product.id %}

  {% assign isWishlisted = false %}
  {% for tag in customer.tags %}
    {% if tag contains productID %}
      {% assign isWishlisted = true %}
    {% endif %}
  {% endfor %}

  <form method="post" action="pages/wishlist" id="wishlistForm">
    <input type="hidden" name="customer_email" value="{{ customer.email }}">
    <input type="hidden" name="product_id" value="{{ productID }}">

    {% if isWishlisted %}
      <button class="button btn-wishlist added" type="submit">
        <span>✔ Wishlisted</span>
      </button>
    {% else %}
      <button class="button btn-wishlist" type="submit">
        <span>Add to Wishlist</span>
      </button>
    {% endif %}
  </form>
{% else %}
  <button class="button btn-wishlist" onclick="location.href='/account/login'">
    <span>Login to Wishlist</span>
  </button>
{% endif %}
